.gradient-background {
  background: linear-gradient(300deg, #EF7E04, #05899E, #274744);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-text {
  animation: text-color-animation 18s ease infinite;
}

@keyframes text-color-animation {
  0% {
    color: #00dfae; 
  }
  10% {
    color: #00bfff;
  }
  25% {
    color: #2270af; 
  }
  33% {
    color: #1e00ff; 
  }
  50% {
    color: #0c0073; 
  }
  55% {
    color: #e6df0c; 
  }
  60% {
    color: #cc7400; 
  }
  85% {
    color: #44eb01; 
  }
  100% {
    color: #42e573;
  }
}

.logo {
  border-radius: 50%;
  width: 50px;
}

.main {
  background: #05899E;
}